@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --bg_color: #FFF;
    --first_color: #459E48;
    --first_color-light: #4EB151;
    --second_color: #fffaee;    
    --text_color: #1C1C1C;
    --text_color-inverse: #ffff;
    --shadow_color: rgba(0, 0, 0, 0.10);
    --soft_color: #2B2B2B;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    transition-duration: .2s;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg_color);
    color: var(--text_color);
    transition: ease .40s;
    padding-top: 40px;
    overflow-x: hidden;
}

/* MIXINS SIN PARAMETROS */

@mixin margin-top {
    margin-top: 25%;
}
@mixin margin-section-query {
    margin: 12% 5%;
}

@mixin padding-mobile-section {
    padding: 10% 0;
}

@mixin padding-desktop-section {
    padding: 5% 0;
}

@mixin banner-pages-mobile {
    color: var(--text_color-inverse);
    padding: 60% 0;
}

@mixin banner-pages-desktop {
    color: var(--text_color-inverse);
    padding: 20% 0;
}


/* EXTENDS VARIABLES */

.main-btn {
    background-color: var(--first_color);
    padding: 0.7em 1em;
    color: var(--text_color-inverse);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    &:hover {
        background-color: var(--first_color-light);
    }
}

.second-btn {
    background: transparent;
    padding: 0.7em 1em;
    color: var(--text_color);
    border-radius: 5px;
    border: 2px solid var(--first_color);
    cursor: pointer;
    text-decoration: none;
    &:hover {
        color: var(--second_color);
        background-color: var(--first_color);
        border: 2px solid var(--first_color);
    }
}

.call-btn {
    background-color: var(--first_color);
    padding: 0.7em 1em;
    color: var(--text_color-inverse);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    &:hover {
        background-color: var(--first_color-light);
    }
}

.image-pages_phone {
    height: 100vw;
}


/* ============================================== NAVBAR CSS ============================================== */

.nav-item {
    font-weight: 500;
    font-size: 1.1rem;
}

.navbar-light {
    
    .navbar-toggler-icon {
        background: url('../images/icons/menu-right.svg') no-repeat center center / cover;
    }
}

.navbar-toggler {

    &:focus {
        box-shadow: none;
    }
}

.navbar-nav {
    .nav-item .nav-link {
        a {
            text-align: center;
        } 
    } 
}

.navbar-light {
    .navbar-nav { 
        .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
            color: var(--first_color);
            font-weight: 600;
        }
    }
}    

.bg-light {
    box-shadow: 0 4px 5px var(--shadow_color);
    position: fixed;
    background-color: var(--bg_color);
    left: 0;
    top: 0;
    padding: 15px;
    width: 100%;
    z-index: 100;
}

.logo {
    img {
        width: 100%;
        max-width: 150px;
    }
}

.nav-button {
    button {
    @extend .call-btn;
    }
}


/* ============================================== INDEX CSS ============================================== */


/* =========== Hero Section Start =========== */

.index-banner {
    background: url(../images/index-page/hero-banner.jpeg) no-repeat;
    position: relative;
    width: 100%;
    height: 125vw;
    object-fit: cover;
    background-position: center;
}

.site-title {
    @include margin-top;
    text-align: center;
}

.btn1 {
    @extend .main-btn;
    padding: 0.7em 1em;
    border: 2px solid var(--first_color);
    &:hover {
        border: 2px solid var(--first_color-light);
    }
}

.btn2 {
    @extend .second-btn;
}

@media (min-width: 1024px) {

    .index-banner {
        height: 52vw;
    }

    .site-title {
        @include margin-section-query;
        text-align: left;
    }

    .btn1 {
        padding: 0.7em 1em;
    }
    
    .btn2 {
        padding: 0.7em 1.5em;
    }
}

/* =========== Hero Section End =========== */

/* =========== Datos Section Start =========== */

.datos {
    background-color: var(--first_color);
    color: var(--text_color-inverse);
    height: 20vw;
}

.items-datos {
    h3 {
        margin-top: 0;
    }
}

@media (min-width: 1024px) {
    .datos {
        height: 9vw;
    }
}

/* =========== Info Section Start =========== */

.info-index {
    background-color: var(--second_color);
    .info-index-content {
        padding: 10% 0;
    }
    .info-index_image img {
        width: 100%;
        max-width: 350px;
    } 
}

.info-index_container-content {
    button {
        @extend .main-btn;
    }
}

@media (min-width: 1024px) {
    
    .info-index {
        .info-index-content {
            @include padding-desktop-section;
            max-width: 950px;
        }
        .info-index_image img {
            width: 100%;
            max-width: 900px;
        }
        .info-index_container-content {
            margin-left: 50px;
        }
    } 
}

/* =========== Info Section End =========== */

/* =========== Video Section Start =========== */

.video-banner {
    position: relative;
    width: auto;
    /* height: 60vw; */
    background: url(../images/index-page/video-bg.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}

.link-video,
.link-video {
    a {
        text-decoration: none;
        color: var(--text_color);
        &:hover {
            color: var(--first_color);
        }
    }
    &:hover {
        color: var(--first_color);
    }
} 

.fa-play {
    font-size: 1.5rem;
    cursor: pointer;
}

/* =========== Video Section End =========== */

/* =========== Newsletter Section Start =========== */

.newsletter {
    padding-top: 3%;
}

.newsletter-action {
    input {
        border: 1px solid gray;
        border-radius: 5px;
    }
    button {
        @extend .main-btn;
    }
}

@media (min-width: 1024px) {
    
    .newsletter {
        padding-top: 3%;
    }
}

/* =========== Newsletter Section End =========== */

/* ============================================== ABOUT CSS ============================================== */

/* =========== Banner Top Section Start =========== */

.banner-top-about {
    @extend .image-pages_phone;
    background: url(../images/about-page/about.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-top_content {
    @include banner-pages-mobile;
    h1 {
        font-size: 2.5rem;
    }
}

@media (min-width: 1024px) {
    .banner-top-about {
        height: 35vw;
    }

    .banner-top_content {
        @include banner-pages-desktop;
        h1 {
            font-size: 3rem;
        }
    }
}

/* =========== Banner Top Section End =========== */

/* =========== About Section Start =========== */

.about-info_img {
    img {
        height: 100%;
        max-height: 230px;
        &:hover {
            transform: translateY(-10px);
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
        }
    }
}

.about-info_container {
    h6 {
        color: var(--first_color);
    }
}

.about-info_container-modifier {
    border-left: 5px solid var(--first_color);
    padding-left: 25px;
}

@media (min-width: 1024px) {
    .about-info_img {
        img {
            height: 100%;
            max-height: 400px;
        }
    }
}

/* =========== About Section End =========== */

/* =========== Why Section Start =========== */

.why {
    background-color: var(--second_color);
    @include padding-mobile-section;
    .why_cards-contain {
        background-color: var(--bg_color);
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }
}

.why_cards-content {
    img {
        width: 100%;
        max-width: 40px;
    }
}

@media (min-width: 1024px) {
    .why {
        @include padding-desktop-section;
    }
}

/* =========== Why Section End =========== */

/* =========== Team Section Start =========== */

.team {
    @include padding-mobile-section;
    .team_container {
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        &:hover {
            transform: scale(1.1);
        }
    }
}

.team_container-img {
    img {
        width: 100%;
        max-width: 200px;
    }
}

.team_container-social {
    a {
        color: var(--first_color);
    }
}

@media (min-width: 1024px) {
    .team {
        @include padding-desktop-section;
    }
}

/* =========== Team Section End =========== */

/* ============================================== MENU CSS ============================================== */

/* =========== Hero Banner Section Start =========== */

.banner-top-menu {
    width: 100%;
    @extend .image-pages_phone;
    background: url(../images/menu-page/menu.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}

@media (min-width: 1024px) {
    .banner-top-menu {
        height: 35vw;
    }
}

/* =========== Hero Banner Section End =========== */

/* =========== Info Menu Section Start =========== */

.info-menu {
    @include padding-mobile-section;
}

.info-menu_content{
    h6 {
        color: var(--first_color);
    }
}  

.info-menu-container { 
    img {
    width: 100%;
    max-width: 350px;
    }
}

.info-menu_list {
    .fa-check {
    color: var(--first_color);
    font-size: 1.5rem;
    }
}

.info-menu_btn {
    button {
        @extend .main-btn;
    }
}

@media (min-width: 1024px) {
    .info-menu {
        @include padding-desktop-section;
    }

    .info-menu-container {
        img {
            max-width: 950px;
        }
    } 
}

/* =========== Info Menu Section End =========== */

/* =========== Menu Section Start =========== */

.menu_bistro {
    background-color: var(--second_color);
    @include padding-mobile-section;
}

.title-menu {
    a {
        text-decoration: underline;
    }
} 

.menu-list {
    position: relative;
    z-index: 10;
}

/* =========== Images Start =========== */

.huevos-img {
    position: absolute;
    object-fit: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 200px;
    margin-top: -10%;
    right: -20%;
    z-index: 1;
}

.tomates-img {
    position: absolute;
    object-fit: cover;
    background-repeat: no-repeat;
    left: -25%;
    padding-top: 40%;
    width: 100%;
    max-width: 220px;
    z-index: 1;
}

.chilaquiles-img {
    position: absolute;
    object-fit: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 200px;
    margin-top: 140%;
    right: -20%;
    z-index: 1;
}

.chiles-img {
    position: absolute;
    object-fit: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 80px;
    margin-top: 220%;
    left: 1%;
    z-index: 1;
}

.quesadillas-img {
    position: absolute;
    object-fit: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 200px;
    margin-top: 345%;
    right: -20%;
    z-index: 1;
}

/* =========== Images Start =========== */

.menu-precio {
    align-items: flex-end;
}

.menu-precio {
    h4 {
        color: var(--first_color);
    }
} 

.menu-precio {
    span {
        font-weight: 600;
    }
} 

.menu-comida {
    p {
        color: #3b3b3b;
        .bolder {
            font-weight: 600;
        }
    }
} 

@media (min-width: 1024px) {

    .menu_bistro {
        @include padding-desktop-section;
    }

    .menu-comida {
        p {
            max-width: 80%;
        }
    } 

    /* =========== Images Start =========== */

    .huevos-img {
        max-width: 350px;
        margin-top: -10%;
        right: -10%;
    }

    .tomates-img {
        left: -10%;
        padding-top: 15%;
        max-width: 350px;
    }

    .chilaquiles-img {
        max-width: 300px;
        margin-top: 46%;
        right: -5%;
    }

    .chiles-img {
        max-width: 200px;
        margin-top: 65%;
        left: -2%;
    }

    .quesadillas-img {
        max-width: 340px;
        margin-top: 80%;
        right: -8%;
    }

    /* =========== Images Start =========== */
}


/* =========== Menu Section End =========== */

/* ============================================== FAQS CSS ============================================== */

/* =========== Banner Top Section Start =========== */

.banner-top-faqs {
    @extend .image-pages_phone;
    background: url(../images/faqs-page/faqs.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}

@media (min-width: 1024px) {
    .banner-top-faqs {
        height: 35vw;
    }
}

/* =========== Banner Top Section End =========== */

/* =========== Info Faqs Section Start =========== */

.info-faqs {
    @include padding-mobile-section;
}

.info-faqs-image {
    img {
        border-radius: 10px;
        width: 100%;
        max-width: 350px;
    }
} 

.info-faqs_btn {
    button {
        @extend .main-btn;
    }
} 

@media (min-width: 1024px) {

    .info-faqs {
        @include padding-desktop-section;
    }

    .info-faqs-image {
        img {
            max-width: 500px;
        }
    } 
}

/* =========== Info Faqs Section End =========== */

/* =========== Faqs Section Start =========== */

.faqs-section {
    /* background-color: var(--second_color); */
    @include padding-mobile-section;
}

.question-container {
    .bolder {
        font-weight: 600;
    }
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
    color: var(--text_color);
    font-weight: bolder;
}
.accordion-button:focus {
    box-shadow: 0 0 0 0.25rem rgb(69 158 72 / 50%);
    /* border: 1px solid #459E48; */
}

@media (min-width: 1024px) {
    
    .faqs-section {
        @include padding-desktop-section;
    }

    .question-container {
        p {
            max-width: 450px;
        }
    } 
}

/* =========== Faqs Section End =========== */

/* =========== Bread Banner Section Start =========== */

.banner-bread {
    width: 100%;
    height: 60vw;
    background: url(../images/faqs-page/bread.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-bread_contain {
    color: var(--text_color-inverse);
}

.banner-bread_btn {
    button {
        @extend .main-btn;
    }
}

@media (min-width: 1024px) {
    .banner-bread {
        height: 18vw;
    }
}

/* =========== Bread Banner Section End =========== */

/* ============================================== CONTACT CSS ============================================== */

/* =========== Banner Top Section Start =========== */

.banner-top-contact {
    width: 100%;
    @extend .image-pages_phone;
    background: url(../images/contact-page/contact.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}

@media (min-width: 1024px) {
    
    .banner-top-contact {
        height: 35vw;
    }
}

/* =========== Banner Top Section End =========== */

/* =========== Card Section Start =========== */

.cards_container {
    @include padding-mobile-section;
}

.cards_container-content {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 5px 18px 0 rgba(0, 0, 0, 0.1);
    &:hover {
        transform: scale(1.1);
    }
}

.cards_container-content {
    img {
        width: 100%;
        max-width: 50px;
    }
}

@media (min-width: 1024px) {
    .cards_container {
        @include padding-desktop-section;
    }
}

/* =========== Card Section End =========== */

/* =========== Form Section Start =========== */

.form-contact_content {
    @include padding-mobile-section;
}

.form-contact_container {
    @include padding-mobile-section;
    border: .5px solid lightgrey;
    background-color: var(--bg_color);
    border-radius: 5px;
}

.form-contact_container-col1 input,
.form-contact_container-col2 input {
    padding: .7em 1.5em;
}

.columns-form {
    button {
        @extend .main-btn;
        padding: .7em 1.8em;
    }
}

.form-contact_map {
    position: relative;
    z-index: -100;
    transform: translateY(-300px);
    margin-bottom: -50%;
}

@media (min-width: 1024px) {
    
    .form-contact_content {
        @include padding-desktop-section;
    }

    .form-contact_container {
        @include padding-desktop-section;
    }
    
    .form-contact_map {
        position: relative;
        z-index: -100;
        transform: translateY(-300px);
        margin-bottom: -15%;
    }
}

/* ============================================== FOOTER CSS ============================================== */


/* =========== Footer 1째 Section Start =========== */

.bar {
    background-image: linear-gradient(180deg, var(--bg_color) 50%, var(--second_color) 50%);
    padding: 15% 0;
    .bar-info {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        background-color: var(--bg_color);
        border-radius: 5px;
    }
}

.bar_columns {
    padding: 5% 10%;
    img {
        width: 60px;
        height: 60px;
    }
}

.line {
    display: none;
}

@media (min-width: 1024px) {
    
    .bar {
        @include padding-desktop-section;
        /* padding-bottom: 5%; */
    }
    
    .bar_columns {
        padding: 2% 3%;
        img {
            width: 50px;
            height: 50px;
        }
    }

    .line {
        border: 1px solid var(--text_color);
        height: 15vh;
    }
}

/* =========== Footer 1째 Section End =========== */

/* =========== Footer 2째 Section Start =========== */

.footer {
    background-color: var(--second_color);
}

.footer_columns-description {
    img {
        width: 100%;
        max-width: 180px;
    }
}

.footer_columns-item {
    a {
        text-decoration: none;
        color: var(--text_color);
    }
}

/* =========== Footer 2째 Section End =========== */
